@import "./utils/styles/colors";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $font-color;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color;
}

#root {
    width: 100%;
}

// .app {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }
  
  .wrap {
    margin: 2rem auto;
    padding: 2rem 5rem;
    border-radius: 5px;
    width: 1140px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
  }

  .container {
    margin: 0 auto;
    width: 1140px;
    display: flex;
    align-items: center;
}

  