.drop-area {
    width: 100%;
    height: calc(70vh - 50px - 40px);
    margin: 20px;
    border: dashed blue 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}